<!DOCTYPE html>
<html lang="en">
<head>
<title>Travelfy</title> <!-- CHANGE THE WEBSITE TITLE-->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<!-- Jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <style type="text/css">
      /* Set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 80%;
      }

      /* Makes the page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>

    <!-- Google Maps get location from click -->
    <script src="/static/initMap.js"></script>

</head>

<body class="w3-container w3-auto">
        
    
    <div class="w3-panel w3-padding-large" style="background-color:rgb(239, 71, 111)"></br></div>
    
    <!-- The About Us Section -->
    <div id="about-us" class="w3-container w3-content w3-center w3-padding-24" style="max-width:800px">
        <h2 class="w3-wide">Travelfy</h2>
        <p class="w3-opacity"><i>The sounds of where you are (or where you want to be)</i></p>
        <p class="w3-justify"> Welcome to Travelfy, where you can listen to music that fits where you are. 
            Whether you're looking for some chill study music at the library, looking for some theme songs to highlight 
            your travel adventure, or even just curious about what the most popular music in Uzbekistan could be, you're 
            in the right place!</p>
        <p class="w3-justify"> Check out our Where to Start section below for some more famous locations, or take 
            to the search bar for your own musical journey.</p> 
    </div>

    <!-- Search bar for countries -->
    <table class="w3-centered" width="100%">
        <tr>
            <td><input class="w3-border w3-button" type="text" id="mySearch" onkeyup="searchList()" placeholder="Find a city..." title="Type in a category"></td>
        </tr>
    </table>
    
    <!-- List of countries -->
    <ul id="cityList">
        <li class="w3-button w3-text-white" style="background-color:rgb(98, 124, 208)"><a href="http://127.0.0.1:5000/Canada" style="text-decoration:none;">Canada</a></li>
        <li class="w3-button w3-text-white" style="background-color:rgb(98, 124, 208)"><a href="http://127.0.0.1:5000/Romania" style="text-decoration:none;">Romania</a></li>
        <li class="w3-button w3-text-white" style="background-color:rgb(98, 124, 208)"><a href="http://127.0.0.1:5000/Australia" style="text-decoration:none;">Australia</a></li>
        <li class="w3-button w3-text-white" style="background-color:rgb(98, 124, 208)"><a href="http://127.0.0.1:5000/South Korea" style="text-decoration:none;">South Korea</a></li>
        <li class="w3-button w3-text-white" style="background-color:rgb(98, 124, 208)"><a href="http://127.0.0.1:5000/Brazil" style="text-decoration:none;">Brazil</a></li>
        <li class="w3-button w3-text-white" style="background-color:rgb(98, 124, 208)"><a href="http://127.0.0.1:5000/New Zealand" style="text-decoration:none;">New Zealand</a></li>
        <li class="w3-button w3-text-white" style="background-color:rgb(98, 124, 208)"><a href="http://127.0.0.1:5000/Finland" style="text-decoration:none;">Finland</a></li>
        <li class="w3-button w3-text-white" style="background-color:rgb(98, 124, 208)"><a href="http://127.0.0.1:5000/Turkey" style="text-decoration:none;">Turkey</a></li>
        <li class="w3-button w3-text-white" style="background-color:rgb(98, 124, 208)"><a href="http://127.0.0.1:5000/India" style="text-decoration:none;">India</a></li>
        <li class="w3-button w3-text-white" style="background-color:rgb(98, 124, 208)"><a href="http://127.0.0.1:5000/Germany" style="text-decoration:none;">Germany</a></li>
        
    <!-- </ul>
    <div></div>
    <ul id="cityList"> -->
    </br></br>
      <li class="w3-button w3-text-white" style="background-color:rgb(98, 124, 208)"><a href="http://127.0.0.1:5000/Indonesia" style="text-decoration:none;">Indonesia</a></li>
      <li class="w3-button w3-text-white" style="background-color:rgb(98, 124, 208)"><a href="http://127.0.0.1:5000/Costa Rica" style="text-decoration:none;">Costa Rica</a></li>
      <li class="w3-button w3-text-white" style="background-color:rgb(98, 124, 208)"><a href="http://127.0.0.1:5000/Panama" style="text-decoration:none;">Panama</a></li>
      <li class="w3-button w3-text-white" style="background-color:rgb(98, 124, 208)"><a href="http://127.0.0.1:5000/Ecuador" style="text-decoration:none;">Ecuador</a></li>
      <li class="w3-button w3-text-white" style="background-color:rgb(98, 124, 208)"><a href="http://127.0.0.1:5000/Norway" style="text-decoration:none;">Norway</a></li>
      <li class="w3-button w3-text-white" style="background-color:rgb(98, 124, 208)"><a href="http://127.0.0.1:5000/France" style="text-decoration:none;">France</a></li>
      <li class="w3-button w3-text-white" style="background-color:rgb(98, 124, 208)"><a href="http://127.0.0.1:5000/Japan" style="text-decoration:none;">Japan</a></li>
      <li class="w3-button w3-text-white" style="background-color:rgb(98, 124, 208)"><a href="http://127.0.0.1:5000/Croatia" style="text-decoration:none;">Croatia</a></li>
      <li class="w3-button w3-text-white" style="background-color:rgb(98, 124, 208)"><a href="http://127.0.0.1:5000/Switzerland" style="text-decoration:none;">Switzerland</a></li>
      <li class="w3-button w3-text-white" style="background-color:rgb(98, 124, 208)"><a href="http://127.0.0.1:5000/Columbia" style="text-decoration:none;">Columbia</a></li>
    </br></br>
    <li class="w3-button w3-text-white" style="background-color:rgb(98, 124, 208)"><a href="http://127.0.0.1:5000/Dominican Republic" style="text-decoration:none;">Dominican Republic</a></li>
    <li class="w3-button w3-text-white" style="background-color:rgb(98, 124, 208)"><a href="http://127.0.0.1:5000/Costa Rica" style="text-decoration:none;">Mexico</a></li>
    <li class="w3-button w3-text-white" style="background-color:rgb(98, 124, 208)"><a href="http://127.0.0.1:5000/Italy" style="text-decoration:none;">Italy</a></li>
    <li class="w3-button w3-text-white" style="background-color:rgb(98, 124, 208)"><a href="http://127.0.0.1:5000/Ecuador" style="text-decoration:none;">Latvia</a></li>
    <li class="w3-button w3-text-white" style="background-color:rgb(98, 124, 208)"><a href="http://127.0.0.1:5000/Norway" style="text-decoration:none;">United Kingdom</a></li>
    <li class="w3-button w3-text-white" style="background-color:rgb(98, 124, 208)"><a href="http://127.0.0.1:5000/France" style="text-decoration:none;">Iceland</a></li>
    <li class="w3-button w3-text-white" style="background-color:rgb(98, 124, 208)"><a href="http://127.0.0.1:5000/Japan" style="text-decoration:none;">Honduras</a></li>
    <li class="w3-button w3-text-white" style="background-color:rgb(98, 124, 208)"><a href="http://127.0.0.1:5000/Croatia" style="text-decoration:none;">El Salavdor</a></li>
    <li class="w3-button w3-text-white" style="background-color:rgb(98, 124, 208)"><a href="http://127.0.0.1:5000/Switzerland" style="text-decoration:none;">Chile</a></li>
  </br></br>
  <li class="w3-button w3-text-white" style="background-color:rgb(98, 124, 208)"><a href="http://127.0.0.1:5000/Nicaragua" style="text-decoration:none;">Nicaragua</a></li>
  <li class="w3-button w3-text-white" style="background-color:rgb(98, 124, 208)"><a href="http://127.0.0.1:5000/Costa Rica" style="text-decoration:none;">Argentina</a></li>
  <li class="w3-button w3-text-white" style="background-color:rgb(98, 124, 208)"><a href="http://127.0.0.1:5000/Panama" style="text-decoration:none;"></a>Ecuador</li>
  <li class="w3-button w3-text-white" style="background-color:rgb(98, 124, 208)"><a href="http://127.0.0.1:5000/Ecuador" style="text-decoration:none;">Bolivia</a></li>
  <li class="w3-button w3-text-white" style="background-color:rgb(98, 124, 208)"><a href="http://127.0.0.1:5000/Norway" style="text-decoration:none;">Uruguay</a></li>
  <li class="w3-button w3-text-white" style="background-color:rgb(98, 124, 208)"><a href="http://127.0.0.1:5000/France" style="text-decoration:none;"></a>Andora</li>
  <li class="w3-button w3-text-white" style="background-color:rgb(98, 124, 208)"><a href="http://127.0.0.1:5000/Japan" style="text-decoration:none;">Guatemala</a></li>
  <li class="w3-button w3-text-white" style="background-color:rgb(98, 124, 208)"><a href="http://127.0.0.1:5000/Croatia" style="text-decoration:none;">Austria</a></li>
  <li class="w3-button w3-text-white" style="background-color:rgb(98, 124, 208)"><a href="http://127.0.0.1:5000/Jordan" style="text-decoration:none;">Jordan</a></li>
  <li class="w3-button w3-text-white" style="background-color:rgb(98, 124, 208)"><a href="http://127.0.0.1:5000/Belgium" style="text-decoration:none;">Belgium</a></li>

  </ul>

    <br>
    <br>


    <!-- Where to Start section -->
    <div class="w3-black" id="start">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
      <h2 class="w3-wide w3-center">WHERE TO START</h2>
      <p class="w3-opacity w3-center"><i>Try out some of these well-known locations!</i></p><br>

      <div class="w3-row-padding w3-padding-2" style="margin:0 -20px">
        <div class="w3-third w3-margin-bottom">
          <img src="/static/panama.jpg" alt="Panama" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>Panama</b></p>
            <p class="w3-opacity">Panama City, Panama</p>
            <p>Listen to some mucis from the only place you can see the sun rise on the Pacific and set on the Atlantic!</p>
            <p>Fun fact: Panama was the first coutry outside of the US to sell Coca-Cola</p>
            <button class="w3-button w3-text-white w3-margin-bottom" style="background-color:rgb(239, 71, 111)"><a href="http://127.0.0.1:5000/Panama">Listen Now</a></button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
          <img src="/static/paris1.jpg" alt="Paris" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>Paris</b></p>
            <p class="w3-opacity">Paris, France</p>
            <p class="w3-opacity"></p>
            <p>Home to the beloved Eiffel Tower and baquettes! Click below to hear some of the most popular French artists.</p>
            <button class="w3-button w3-text-white w3-margin-bottom" style="background-color:rgb(239, 71, 111)"><a href="http://127.0.0.1:5000/France">Listen Now</a></button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
          <img src="/static/romania.jpg" alt="Romania" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>Fagaras, Romania</b></p>
            <p class="w3-opacity"></p>
            <p>Pictured above is one of the most beautiful driving roads. </p>
            <p>Romania is also home to the world's largest population of brown bears.</p>
            <button class="w3-button w3-text-white w3-margin-bottom" style="background-color:rgb(239, 71, 111)"><a href="http://127.0.0.1:5000/Panama">Listen Now</a></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  

    <!-- Search city list -->
  <script>
    function searchList() {
      // Search through the list of cities
      // Declare variables
      var input, filter, ul, li, a, i;
      input = document.getElementById("mySearch");
      filter = input.value.toUpperCase();
      ul = document.getElementById("cityList");
      li = ul.getElementsByTagName("li");
    
      // Loop through all list items, and hide those who don't match the search query
      for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
          li[i].style.display = "";
        } else {
          li[i].style.display = "none";
        }
      }
    }
    </script>

    <table>
      <tr>
        <td><h2>Search using the map</h2></td>
        <td class="w3-text-white">--------</td>
        <td><button class="w3-button w3-green"><a id="music-link" href=""></a></button></td>
      </tr>
    </table>

    <!-- Display google map-->
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCy4rMsW8E0G5S7kJAH6rgXOPOl6MizZsw&callback=initMap&libraries=&v=weekly" async></script>
    
    <!-- https://maps.googleapis.com/maps/api/geocode/json?latlng=40.714224,-73.961452&key=AIzaSyCy4rMsW8E0G5S7kJAH6rgXOPOl6MizZsw -->
    <!-- The Contact Section -->
    <!-- 
  <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
    <h2 class="w3-wide w3-center">GET IN TOUCH!</h2>
    <p class="w3-opacity w3-center"><i>Questions? Comments? Suggestions? Let us know what you think!</i></p>
    <div class="w3-row w3-padding-32">
      <div class="w3-col m6 w3-large w3-margin-bottom">
        <i class="fa fa-envelope" style="width:30px"> </i> Email: mail@mail.com<br>
      </div>
      <div class="w3-col m6">
        <form action="/action_page.php" target="_blank">
          <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
            </div>
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
            </div>
          </div>
          <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
          <button class="w3-button w3-green w3-section w3-right" type="submit">SEND</button>
        </form>
      </div>
    </div>
  </div>
  -->
  <div><br></div>
</body>
</html>